<form method= "POST" id="add-user">
    <div class='newstudent'>
        <div class="form-group">
            <label for='name' class='text-light'>Name</label>
            <input type="hidden" name='id' value="">
            <input type="text" name='name' value="Chandu">
    </div>
    <div class="form-group">
      <label for='name' class='text-light'>Email</label>
      <input type="hidden" name='id' value="">
      <input type="text" name='name' value="NYU Email">
  </div>

  <div class="form-group">
      <label for='status' class='text-light'>Status</label>
      <div class="radio inline">
          <input type='radio' id='radioa'name='status'value='Active'>
          <label for='radioa' class="radiolabel">Active</label>
      </div>
      <div class="radio inline">
          <input type='radio' id='radioa'name='status'value='Inactive'>
          <label for='radioa' class="radiolabel">Inactive</label>
  </div>
</div>  
<div class="form-group">
    <button type = "submit" class="btn text-dark update"> Submit</button>
</div>
</div>
</form>